/* General */
body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contenedor {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 12px;
    width: 90%;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Formulario */
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #555;
}
